/*  #426CB4
    #213659
    #5082D9
    #558AE6
    #4773BF */
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navi {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    background-color:  #213659;
    height: 10vh;

    box-shadow: 1px 1px 10px rgb(220, 220, 220);
}

.links a{
    margin: 0 10px;
    color: #f4f4f4;
    text-decoration: none;
    font-style: normal;

    opacity: 0.8;
}

.links a:hover {
    color: white;
    opacity: 1;
}
.logo{
    height: 100%;
}
.logo img {
    height: 100%
}

.hero{

    background-image: url(/img/heroCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    transition: 0s;

    height: 90vh;
}

.mask {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
    
    opacity: 0.5;

}
.mask h2 {

    color: white;
    font-size: 40px;
}

.btn-hero {

    color:rgb(220, 220, 220);
    padding: 20px 80px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    cursor: pointer;
}
.btn-hero:hover {
    background-color: transparent;
    color:white;

}

.about {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100vh;
    width: 70%;
    margin: auto;
}
.early-life {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
.early-life h2 {
    width: 100%;
    flex-grow: 1;
    text-align: center;
}
.early-life p {
 
}
.early-life img {
    margin: 40px auto;
    width: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgb(230, 230, 230);
}
.skills {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}
.skills-item {
    
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;

    font-size: 80px;
    text-align: center;
    color:  #4773BF;

    margin: 20px;
    padding: 10px;

    border-radius: 5px;
   
}
.skills-item:hover {
    box-shadow: 1px  1px 10px   #ededed;
    transition: 0.2s;

}

.skills-item p {
    font-size: 20px;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    text-align: center;
    color:rgb(220, 220, 220);
    background-color: #213659;
    padding: 30px;
    height: 50vh;
}

.gallery {
    width: 80%;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* height: 50vh; */    
}

.gallery a {
    text-decoration: none;
}

.card-project {
    width: 150px;
    background-color: white;
    color: #426CB4;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}


.card-image {
    height: 100px;
    /* background-image: url(/projects/sd-010-b-project-pixels-art/icon.png); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.newsLetter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    background-color: #4773BF;
}

.newsLetter h2 {
    color: white;
    margin-bottom: 30px;
    font-size: 40px;
}
.newsLetter form {
    display: flex;
    
}

#btn-sub {
    color: blanchedalmond;
    background-color: #213659;
    margin: 0 10px;
}

footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    color: white;
    height: 5vh;
    justify-content: space-around;

    padding: 5px;
    background-color: #222;
}
footer a{
    text-decoration:none;
    color: white;
    font-weight: 500;
    width: 200px;
}
footer h5 {
    margin: 0px;
    width: 200px;

}
footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
footer h5 i{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0px;
    margin: 0;
    color: red;
}