/*  #426CB4
    #213659
    #5082D9
    #558AE6
    #4773BF */
*{
    margin: 0;
    padding: 0;
}

.navi {
    display: flex;

    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    background-color:  #213659;
    height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(220, 220, 220);
}

.links a{
    margin: 0 10px;
    color: #f4f4f4;
    text-decoration: none;
    font-style: normal;

    opacity: 0.8;
}

.links a:hover {
    color: white;
    opacity: 1;
}
.logo{
    height: 100%;
}
.logo img {
    height: 100%
}

.hero{
    background-image: url(/img/heroCover.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;

    opacity: 0.9;
    
}

.mask{
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: black;
    height: 100vh;
    opacity: 0.4;
}

.btn-hero{

    color:rgb(220, 220, 220);
    padding: 20px 80px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
    cursor: pointer;
}
.btn-hero:hover{
    background-color: transparent;
    color:white;

}

.about {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 70%;
    margin: auto;
}
.early-life
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.early-life h2 {
    width: 100%;
    flex-grow: 1;
    text-align: center;
}
.early-life p {
    max-width: 700px;
}
.early-life img {
    margin: 40px auto;
    width: 200px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgb(230, 230, 230);
}
