*{
    padding: 0px;
    margin: 0px;
    
}
body{
    font-family: 'Montserrat';
}
a{
    text-decoration: none;
}
h2{
    text-align: center;
}
.cover{

    display: flex;
    flex-direction: column;
    background-image: url(/img/cover.jpg);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;

    height: 300px;
}
.cover nav{
    padding-top: 30px;
}
.cover ul{
    text-align: center;
}
.cover li{
    display: inline;
    list-style-type: none;
    padding: 10px;
}


.tittle{
    margin:auto;
    color:rgb(206, 205, 197);
    font-size: 40px;
    background-color:rgba(0,0,0,0.8);
    text-align: center;
}

.container h3{
    text-align: center;
    margin: 40px;
}
#academia{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
}
.card{
    width: 420px;
    margin: 30px;
}
.card header{
    margin:10px;
    width: 100%;
}
.card p{
    margin:5px;
    text-align: justify;
}
.card img{
    width: 120px;
}

#experiences{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; 
}

.ghost{
    background-color: blanchedalmond;
    padding:15px;
    border-radius: 10px;
}
.ghost-content{
    display: none;
    position: absolute;
    width: 400px;
    
}

.ghost .ghost-content:hover{
    display: block;
    background-color: blue;
}

#skills{
    display: flex;
    text-align: center;
    width: 100%;
    background-color: #f5f5f5;
}
.skills-image{
    background-image: url(/img/coding.jpg);
    background-size: cover;
    height: 350px;
    width: 50%;
}
.lista{
    justify-self: center;
    align-self: center;
    width: 50%;
}